table, th, td {
	border:1px solid black;
	background-color: white;
}

.fullscreen{
	height: calc(100vh - 20px);
}

.grid-col-row-7{
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

.grid-col-5{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.grid-col-4{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.grid-col-3{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid-col-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid-col-1{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.grid-row-1{
	display: grid;
	grid-template-rows: repeat(1, 1fr);
}

.grid-row-2{
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.grid-row-3{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.grid-row-4{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
}

.grid-row-7{
	display: grid;
	grid-template-rows: repeat(7, 1fr);
}

.grid-col-span-2{
	grid-column: span 2;
}

.grid-col-span-3{
	grid-column: span 3;
}

.grid-col-span-4{
	grid-column: span 4;
}

.grid-row-span-2{
	grid-row: span 2;
}

.grid-row-span-3{
	grid-row: span 3;
}

.grid-row-span-4{
	grid-row: span 4;
}

.right-nav-bar-include{
	position: relative;
	margin-right: 455px;
	padding-right: 10px;
}

.col-fixed-right-nav-bar{
	position: fixed;
	right: 0;
	top: 0;
	width: 450px;
	height: 100%;
	z-index: 1;
	padding-right: 10px;
}

.table-number-input{
	width: 40px;
}

.table-button{
	width: 10px;
}

#json-screen{
	grid-column-start: 1;
	grid-column-end: 3;
}

#animation-list-container{
	grid-row-start: 2;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 3;
}

#animation-options{
	grid-row-start: 7;
	grid-row-end: -1;
	grid-column-start: 1;
	grid-column-end: 3;
}

#hitbox-table{
	grid-row-start: 2;
	grid-row-end: 7;
	grid-column-start: 3;
	grid-column-end: 6;
}

#canvas-container{
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 6;
	grid-column-end: -1;
}

#canvas-properties{
	grid-row-start: 6;
	grid-row-end: -1;
	grid-column-start: 6;
	grid-column-end: -1;
}

#animation-list-buttons-container{
	grid-row-start: 7;
	grid-row-end: -1;
	grid-column-start: 3;
	grid-column-end: 6;
}

#frame-data{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 6;
}

.canvas-screen{
	background-color: white;
	border:1px 
	solid #000000
}

.table-background{
	background-color: white;
	border:1px 
	solid #000000
}

.animation-list-button{
	width: 100%;
}

.animation-list-input{
	width: 93%;
}

.frame-data-input{
	width: 93%;
}