$black: #020202;
$darkGrey: #21232D;
$blueGrey: #8CA6AE;
$darkBlueGrey: #6D8187;
$greenGrey: #749386;
$neonYellow: #D5EDA5;
$lightGreen: #9FCB8A;


.green {
  background: $lightGreen !important; 
}

.blue {
  background: $blueGrey !important;
}