@font-face {
  font-family: 'Josefin Sans';
  src: url('../assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}
$JosefinSans:'Josefin Sans';

@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}
$Poppins: 'Poppins Bold';



$font-stack: $JosefinSans, Helvetica, sans-serif;
$header-font-stack: $Poppins, Helvetica, sans-serif;