
#hitbox-list {
  flex-grow: 1;
  &-table {
    flex-grow:1;

    &-header {
      display:flex;
      @include label-text;
    }

    &-row {
      @include item-container;
      padding: 10px 0px;
      column-gap: unset;
      background: $lightGreen;

      &.hurtbox {
        background: $neonYellow !important;
      }

      .num-col {
        @include label-text;
        color: $darkGrey !important;
      }
    }

    &-body {
      flex-grow: 1;
      @include scrollable;
    }

    .num-col {
      flex-basis: 8%;
      text-align: left;
      padding-left: 10px;
    }

    .table-cell {
      flex-basis: 13%;
    }

    .action-col {
      flex-basis: 14%;
      color: $darkGrey !important;
      padding-right: 10px;
    }

  }
}

