@import 'fonts.scss', 'colors.scss';
@import 'mixins.scss';
@import 'input.scss';
@import 'hitbox-list.scss', 'animation-list.scss', 'frame-data.scss', 'canvas-view.scss';

body {
  color: $neonYellow;
  background-color: $black;
  margin: 0px !important;
}

#app {
  height: calc(100vh - 32px);
  width: calc(100vw - 32px);
  padding: 16px;
}

.container {
  background: $darkGrey;
  border-radius: 10px;
  padding: 16px;

  .title {
    font-family: $header-font-stack;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
}

.flex-grow {
  flex-grow: 1;
}

.flex-dir-row {
  @include flex-mixin;
}

.flex-dir-col {
  @include flex-mixin;
  flex-direction: column;

  &-small {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.label-text {
  @include label-text;
}

.list-item {
  @include item-container;
  border-radius: 10px;
  background: $greenGrey;
}