@mixin flex-mixin {
  display: flex;
  column-gap: 16px;
  row-gap: 8px;
}

@mixin label-text {
  font-family: $header-font-stack;
  color: $neonYellow;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

@mixin scrollable {
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin item-container {
  display: flex;
  align-items: center;
  color: $neonYellow;
  border-radius: 6px;
  padding: 10px 16px;
  column-gap: 8px;
}

@mixin clickable {
  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
  
  &:active {
    opacity: 100%;
    cursor: pointer;
    color: white;
  }

  &:has(*:hover), &:has(*:active) {
    cursor: auto !important;
    opacity: 100% !important;
    color: unset;
  }

}

@mixin list-item {
  @include item-container;
  background: $darkBlueGrey;
  @include clickable;

  &-active {
    background: $blueGrey;
  }
}

// classes

.scrollable {
  @include scrollable;
}

.label-text {
  @include label-text;
}

.flex-dir-row {
  @include flex-mixin;
}

.flex-dir-col {
  @include flex-mixin;
  flex-direction: column;
}

.clickable {
  @include clickable;
}