.tooltip {
  display:none;
}

*:has(> .tooltip):hover {
  position: relative; 

  .tooltip {
    z-index: 999px;
    position: absolute;
    display: block;
    background-color: $black;
    color: $neonYellow;
    padding: 10px;
    border-radius: 6px;
    left: -100%;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;

    &.top {
      top: -200%;
    }

    &.left {
      left: -200% !important;
    }
    &.center-far-left {
      left: -1000% !important;
      top: -50% !important;
    }
    &.center-left {
      left: -400% !important;
      top: -50% !important;
    }
  }
}