.tooltip {
  display: none;
}

.disabled .tooltip{
  display: none !important;
}

*:not(.disabled):has(> .tooltip):hover, input[type="checkbox"]:not(.disabled):hover ~ *:has(> .tooltip) {
  position: relative; 

  .tooltip {
    position: absolute;
    display: inline;
    background-color: $black;
    color: $neonYellow;
    padding: 10px;
    border-radius: 6px;
    right: 150%;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    @include uneditable-text;

    &.top {
      top: -200%;
      right: 0% !important;
    }

    &.top-right {
      top: -200%;
      left: 100% !important;
      right: unset !important;
    }
  }
}